body {
    background-color: #000000;
    overflow-x: hidden;
}

.color-top{
  background-color: #d4d4d4;

}

.card.bg-black {
  border-radius: 0; 
}

#formContainer {
  display: none;
  margin-top: 20px;
}
#formulario-compra {
  display: none;
  margin-top: 20px;
}

.vehiculos{
  border-radius: 4px;
  margin-bottom: 20px;
}
.vehiculo-item {
  display: none; 
}

h2{
  margin-left: 45px;
}

#filtro-combustible{
  list-style-type: none;
}
#filtro-combustible label {
  padding: 5px;
  margin-left: 10px;
}

#filtro-transmision{
  list-style-type: none;
}
#filtro-transmision label{
  padding: 5px;
  margin-left: 10px;
}
.vehiculos label {
  display: inline-block;
  width: 80px; 
  margin-bottom: 5px; 
  margin-left: 30px;
}

.vehiculos select {
  width: calc(100% - 80px);
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}


select {
  color: gray; 
}

select option {
  color: black; 
}

#texto-compramos-autos{
  display: none;
  padding-left: 25%;
  padding-top: 20px;
}

#texto-detalles-autos{
  display: none;
  padding-left: 25%;
  padding-top: 20px;
}
#formulario-compra{
  display: none;
  padding-bottom: 20px;
}

#formulario-detalle{
  display: none; 
  padding-bottom: 20px;
  padding-top: 20px;

}

#estilos{
  padding-left: 0;
}
#estilos div{
  margin-bottom: 25px;
  
}

.col-md-6{
  background-color: white;
}


.final{
  padding-top: 25px;
}

